@import "../variable.scss";
@import "../mixin";

.about-container {
  background-color: var(--secondary-bg-color);
  padding: 5rem 1rem;
  color: var(--text-color);

  #info {
    padding-top: 4rem;
    max-width: 1400px;
    margin: auto;

    .row {
      @include flex-center;
      align-items: baseline;
      gap: 2rem;

      .card {
        border-radius: 5px;
        flex-basis: 73.9em;
        padding: 1rem 2rem 3rem 1rem;
        background-color: var(--primary-bg-color);
        position: relative;
        color: var(--text-color);

        .aboutme-desc {
          display: grid;
          gap: 1.5rem;
        }

        .experience-div {
          margin-top: 2rem;
          display: grid;
          gap: 3rem;

          .experience-info {
            display: flex;
            gap: 1rem;

            .start-year {
              min-width: 80px;
              font-weight: 900;
            }

            div b {
              font-size: 1.2rem;
            }

            ul li {
              list-style-type: disc;
              margin-top: 1rem;
              margin-left: 1.5rem;
            }

            button {
              @include button;
              background-color: var(--alt-color);
              color: #222;
              margin-top: 2rem;
              width: 100%;
            }
          }
        }
        &:after {
          content: "";
          display: block;
          width: 0px;
          height: 0px;
          background-color: skyblue;
          top: 0px;
          right: 0px;
          border-bottom: 30px solid darken(#3493be, 5%);
          border-left: 30px solid darken(#3493be, 5%);
          border-right: 30px solid var(--secondary-bg-color);
          border-top: 30px solid var(--secondary-bg-color);
          position: absolute;
          filter: drop-shadow(-5px 5px 3px rgba(0, 0, 0, 0.5));
        }
        &:before {
          content: "";
          display: block;
          width: 0px;
          height: 0px;
          border-top: 15px solid darken(#3493be, 5%);
          border-right: 15px solid darken(#3493be, 5%);
          border-left: 15px solid var(--secondary-bg-color);
          border-bottom: 15px solid var(--secondary-bg-color);
          bottom: 0px;
          left: 0px;
          position: absolute;
          filter: drop-shadow(7px -7px 5px #00000080);
          margin-right: 10%;
        }
        h2 {
          margin-bottom: 1.5rem;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        p {
          font-size: 1.1rem;
          line-height: 140%;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .about-container #info .row {
    gap: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .about-container #info .row {
    flex-wrap: wrap-reverse;
  }
}

@media screen and (max-width: 360px) {
  .about-container #info .row {
    @include flex-center;

    .card {
      padding: 1rem 1rem 3rem 1rem;
      .aboutme-desc {
        span {
          margin-bottom: 1rem;
        }

        p {
          margin-top: 1rem;
        }
      }

      .experience-div {
        margin-top: 2rem;

        .experience-info .start-year {
          min-width: 50px;
        }

        ul li {
          position: relative;
          right: 20px;
        }
      }
    }
  }
}
