@import "../variable.scss";
@import "../mixin";

$color1-border: #3493be;
$color2-border: #83bad3;
$color3-border: #1b6f96;
$color4-border: #3493be;

.languages-container {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  margin-top: 2rem;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 5px;

  p {
    font-size: 1.4rem;
    font-weight: 900;
    margin-bottom: 2rem;
  }

  .langs-circles {
    display: flex;
    justify-content: space-around;
    gap: 1rem;

    .ui-widgets {
      position: relative;
      width: 8rem;
      height: 8rem;
      border-radius: 9rem;
      border: 1.2rem solid palegreen;
      box-shadow: inset 0 0 7px grey;
      text-align: center;
      box-sizing: border-box;

      .ui-values {
        @include absolute-center;
        font-weight: 700;
        font-size: 1.5rem;
      }

      .ui-labels {
        left: 0;
        bottom: -16px;
        color: #222;
        position: absolute;
        width: 100%;
        font-size: 16px;
        text-transform: uppercase;
      }
    }

    .ui-widgets:nth-child(1) {
      border-left-color: $color1-border;
      border-top-color: $color2-border;
      border-right-color: $color3-border;
      border-bottom-color: #fff;
    }

    .ui-widgets:nth-child(2) {
      border-left-color: $color1-border;
      border-top-color: $color2-border;
      border-right-color: $color3-border;
      border-bottom-color: #fff;
    }

    .ui-widgets:nth-child(3) {
      border-left-color: $color1-border;
      border-top-color: $color2-border;
      border-right-color: #fff;
      border-bottom-color: #fff;
    }

    .ui-widgets:nth-child(4) {
      border-left-color: $color1-border;
      border-top-color: $color2-border;
      border-right-color: #fff;
      border-bottom-color: #fff;
    }

    .ui-widgets:nth-child(5) {
      border-left-color: $color1-border;
      border-top-color: #fff;;
      border-right-color: #fff;
      border-bottom-color: #fff;
    }
  }
}

@media screen and (max-width: 1200px) {
  .languages-container {
    padding: 1rem 1rem 2rem 1rem;

    .langs-circles {
      gap: 1rem;

      .ui-widgets {
        width: 7rem;
        height: 7rem;
        border-radius: 9rem;
        border: 1rem solid palegreen;

        .ui-values {
          font-size: 1.2rem;
        }

        .ui-labels {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .languages-container {
    padding: 1rem 1rem 2rem 1rem;

    .langs-circles {
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;

      .ui-widgets {
        width: 7rem;
        height: 7rem;
        border-radius: 9rem;
        border: 1rem solid palegreen;

        .ui-values {
          font-size: 1.2rem;
        }

        .ui-labels {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .languages-container {
    padding: 1rem 1rem 2rem 1rem;

    p {
      font-size: 1.3rem;
    }

    .langs-circles {
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 2rem 1rem;

      .ui-widgets {
        width: 6rem;
        height: 6rem;
        border-radius: 9rem;
        border: .9rem solid palegreen;

        .ui-values {
          font-size: 1.2rem;
        }

        .ui-labels {
          bottom: -27px;
          font-size: 11px;
          color: var(--text-color);
        }
      }
    }
  }
}