@import "../variable.scss";
@import "../mixin";

.preloader-container {
  background: var(--primary-bg-color);
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 998;

  .preloader {
    @include absolute-center;
    left: 45%;
    top: 40%;
  }
}

@media screen and (max-width: 800px) {
  .preloader-container .preloader {
    left: 40%;
  }
}

@media screen and (max-width: 400px) {
  .preloader-container .preloader {
    left: 35%;
  }
}